header {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px;
  opacity: 1;
  background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255);
  margin-bottom: 71px;
}

.navbar {
  position: relative;
  min-height: 70px !important;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.dropdown-menu {
  top: 50px;
  border: 0px;
}

.dropdown-menu>li>a {
  font-size: 14px;
  font-weight: 500;
  padding: 14px 20px;
}

/* .wallet-div{position:absolute; right:-190px; top:-10px} */
.wallet-div ul {
  /* position: relative;
  left: 0;
  right: 0;
  padding: 5px 6px;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 35px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  cursor: pointer;
  width: 90px;
  justify-content: space-between; */
}

.wallet-div ul li {
  list-style: none;
  padding: 0 6px;
  line-height: 0px;
  /* border-right : 1px solid #ddd; */
}

/* .wallet-div ul li button {
  background: none;
} */
/* .wallet-div ul li:last-child {
  border: none;
} */

.customLink .dropdown-toggle::after{display:none;}

/* .wallet-div ul li button {
  background: none;
} */


.hedIcons{display:flex; align-items:center; margin:0px; padding:0px;}
.hedIcons a{display:block;}
.hedIcons li{margin:0 5px;}
.hedIcons li img{width:38px; height:38px; object-fit:cover; border-radius:100%;}
.hedIcons .customLink .dropdown-menu img{width:auto; height:auto; border-radius:inherit;}
.hedIcons .customLink .dropdown-menu a{display:flex;}
.hedIcons .customLink .user-icon-box{margin-right:10px;}
/* .lightTheme .hedIcons .customLink .filterNone{filter:invert(1) hue-rotate(180deg);} */



/* page container */
#wrap {
  display: block;
  width: 850px;
  margin: 0 auto;
  padding-top: 35px;
}

.search-menu {
  width: 240px;
  position: relative;
  border: 2px solid #e6e8eb;
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-menu input {
  border: 0px;
  padding: 8px;
  margin: 0;
}

.search-menu .serchBtn {
  background: none;
  border: 0px;
  font-size: 22px;
  padding-right: 10px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

input.search-input-nav {
  border-radius: 10px !important;
  /* box-shadow: 0 0 10px #ddd; */
  padding-right: 50px;
  height: 36px;
  font-size: 14px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.navbar-nav {
  align-items: center;
  font-family: "Poppins", sans-serif !important;

  font-weight: 500;
  margin: 0 15px;

  cursor: pointer;
  position: relative;
  font-size: 16px;
}

.navbar-nav>li {
  padding-right: 20px;
}

.navbar-nav li a {
  font-size: 16px;
  display:block;
  font-family: "Poppins", sans-serif !important;
  color: #000;
  font-weight:500;
}

/* user menu settings */
#dropdown {
  display: block;

  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

#dropdown:hover {
  color: #898989;
}

#dropdown.open {}

.navbar-default {
  background-color: #fff;
  border: none;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px;
  opacity: 1;
  /* background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255); */
  background: transparent linear-gradient(87deg, #81613A 0%, #F2B600 100%) 0% 0% no-repeat padding-box;
  /* filter: invert(1) hue-rotate(180deg); */
}

#dropdown ul {
  position: absolute;
  top: 100%;
  left: -4px;
  /* move content -4px because of container left border */
  width: 266px;
  padding: 5px 0px;
  display: none;
  border-left: 4px solid #8e9196;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#dropdown ul li {
  font-size: 0.9em;
}

#dropdown ul li a {
  text-decoration: none;
  display: block;
  color: #447dd3;
  padding: 7px 15px;
}

#dropdown ul li a:hover {
  color: #6fa0e9;
  background: #e7f0f7;
}

.navbar-brand>img {
  display: block;
  max-width: 81%;
  margin-top: 6px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: none !important;
}

.input-group .search-bottun-1 {
  background: none;
  background-image: none;
  position: absolute;
  right: 0px;
  z-index: 9;
  top: 3px;
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 4px 10px 0 0;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: #333;
}

.relative {
  position: relative;
}

.porfile-user {
  display: none;
  position: absolute;
  z-index: 999;
  right: 0px;
  top: 70px;
  padding: 0px 0px;
  width: 320px;
  height: 70vh;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  box-shadow: -16px 3px 20px #00000010;
  opacity: 1;
}

.customLink .dropdown-menu .user-notice-box + .user-notice-box{border-top: 1px solid #e2e2e2;}
.customLink .dropdown-menu .user-notice-box.active,
.customLink .dropdown-menu .user-notice-box:active{background:#e6e9ec; color: #000;}

.user-notice-box {
  display: flex;
  padding: 8px 15px;
  align-items: center;
}

.porfile-user.show {
  display: block;
}

.user-notice-box a {
  display: flex;
}

.info_content.open {
  display: block;
}

.user-icon-box {
  position: relative;
  margin-top: 3px;
  align-content: center;
  width: auto;
  margin-right: 20px;
}

.user-notice-box p {
  color: #000;
  font-size: 16px;
  font-weight: 500px;
  padding: 10px 0px;
  margin: 0px;
}

.wallet-connect-bg {
  position: fixed;
  display: none;
  z-index: 999;
  right: 0px;
  top: 70px;
  padding: 20px 20px;
  width: 320px;
  height: 100vh;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  box-shadow: -16px 3px 20px #00000010;
  opacity: 1;
}

.wallet-connect-bg.open {
  display: block;
}

.wallet-connect-close-button {
  margin-bottom: 50px;
  width: 100%;
  position: relative;
  top: 10px;
  right: 10px;
  height: 40px;
}

.wallet-connect-close-button img {
  position: absolute;
  right: 0px;
}

.wallet-connect-inner {
  position: relative;
  text-align: center;
  color: #000;
}

.wallet-connect-inner h5 {
  font-size: 18px;
  margin:7px 0px 10px;
  padding: 0px;
  font-weight: 500;
}

.wallet-connect-inner h5 a {
  color: #3c97f2 !important;
}

.wallet-connect-inner p {
  font-size: 14px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.wallet-connect-grey {
  max-width: 280px;
  margin: 20px auto auto;
  background-color: #f4f5f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
}

.wallet-connect-grey a {
  padding: 12px;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
}

.wallet-connect-grey a img {
  padding-right: 10px;
}

.wallet-connect-grey a p {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  color: #162c5b;
  width: 70%;
  text-align: left !important;
}

.wallet-connect-grey a span {
  font-size: 16px;
  color: #162c5b;
}

.search-input-nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #bbb;
  border-radius: 10px;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.wallet-div-mb {
  display: none !important;
}

@media (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: landscape) {
  .navbar-right {
    float: right !important;
    margin-right: 45px;
  }

  .navbar-nav>li>a {
    font-size: 14px;
    font-weight: 500;
    padding: 15px 10px;
  }

  .navbar-nav>li>a {
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .dropdown-menu {
    top: 100%;
    border: 0px;
  }

  .porfile-user {
    width: 100%;
  }

  .wallet-connect-bg {
    width: 100%;
  }

  .wallet-div-mb {
    display: block !important;
  }

  .wallet-div-web {
    display: none !important;
  }

  .input-group-1 {
    display: flex;
  }

  .wallet-div {
    display: inline-flex;
    position: absolute;
    right: 72px;
    top: 3px;
  }

  .wallet-div ul li {
    list-style: none;
    padding: 8px 8px;
  }

  .wallet-div img {
    width: 70%;
  }

  .navbar-brand {
    height: auto;
  }

  .navbar-brand>img {
    display: block;
    width: 60%;
  }

  .user-setting-tab {
    position: absolute;
    z-index: 9999;
    right: 0;
    padding: 0px;
    width: 100%;
    height: 70vh;
    background: #fcfcfc 0% 0% no-repeat padding-box;
    box-shadow: -16px 3px 20px #00000010;
    opacity: 1;
  }
}